.Body-club {
    justify-content: center;
    align-items: left;
    display: flex;
    flex-flow: column;
    padding-left: 10vw;
}

  .title-club{
    font-size: 2vw;
  }
  
  .ClubImage{
    margin-top: 5vh;
    margin-left: 2.5vw;
    width: 4vw;
    height: 4vw;
  }
  
  .Maincontent-club{
    display: flex;
    flex-flow: column;
    justify-content: left;
    align-items: left;
    background-color: white;
    width: 50vw;
    height: 30vh;
    border-radius: 20px 20px 20px 20px;
  }

  .ClubTitle-club{
    display: flex;
    flex-flow: row;
  }

  .ClubName-club{
    padding-top: 5vh;
    padding-left: 1.5vw;
    display: flex;
    flex-flow: column;
  }

  .ClubNav-club {
    padding-top: 12vh;
  }

  .ClubNav-club > ul {
    display: flex;
    flex-flow: row;
    margin: 0;
    padding: 0;
    align-items: center;

    list-style: none;
  }

  .ClubNav-club > ul > li {
    margin-left: 2vw;
    cursor: pointer;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-transform:uppercase;
  }


  .ClubNav-club > ul > li:hover{
    color: black;
    font-weight: bold;
    text-decoration: underline;
    text-underline-position: under;
  }


