.Body-learning {
    justify-content: center;
    align-items: left;
    display: flex;
    flex-flow: column;
    padding-left: 10vw;
}

.Line-club {
    margin-top: 0;
    margin-bottom: 2vh;
    border: 0;
    width: 60vw;
    align-items: left;
    height: 1px;
    background: black;
  
  }

  .title-learning{
    font-family: "Gugi", sans-serif;
    color: red;
    font-size: 5vw;
  }
  
  .subtitle-learning{
    font-family: "Gugi", sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2vw;
  }

  .BoxInBox-club{
    height: 30rem;
    width: 40vw;
    background-color: white;
    border-radius: 5rem;
    margin: 1vw;
    overflow: hidden;
    text-align: center;
    border: solid 0.2rem;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 7px 7px rgb(182, 182, 182);
  }
  
  
@media (max-width:767px) {
    .Body-learning {
      justify-content: top;
      align-items: left;
      display: flex;
      flex-flow: column;
  }

  .title-learning{
    margin-top: -100vh;
    font-size: 8vw;
  }

  .subtitle-learning{
    font-size: 4vw;
  }
}