.Body-organ {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column;
    padding-left: 10vw;
    width: 50vw;
}

.Box_title-organ{
    z-index: 1;
    width: 10vw;
    height: 8vh;
    background-color: #D6589F;
    border-radius: 1px 1px 1px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Box_name-organ{
    position: relative;
    z-index: 0;
    top: -4vh;
    width: 10vw;
    height: 10vh;
    background-color: black;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-organ {
    font-family: "Gugi", sans-serif;
    font-size: 1vw;
}

.name-organ {
    padding-top: 4.5vh;
    font-family: "Gugi", sans-serif;
    font-size: 1vw;
    color: white;
}

.name2-organ {
    padding-top: 4.8vh;
    font-family: "Gugi", sans-serif;
    font-size: 0.5vw;
    color: white;
}

.Box-organ{
    margin-left: 2vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column;
}

.Boxes-organ{
    width: 50vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: row;
}


@media (max-width: 767px) {
    .Body-organ {
        padding-left: 20vw;
    }
    
    .Box_title-organ{
        z-index: 1;
        width: 12.5vw;
        height: 3vh;

    }

    .Box_name-organ{
        top: -1.5vh;
        height: 3.5vh;
        width: 12.5vw;
        z-index: 0;
    }

    .title-organ {
        font-family: "Gugi", sans-serif;
        font-size: 1.5vh;
    }

    .name-organ {
        padding-top: 1.5vh;
        font-family: "Gugi", sans-serif;
        font-size: 1.5vh;
        color: white;
    }
    
    .name2-organ {
        padding-top: 1.8vh;
        font-family: "Gugi", sans-serif;
        font-size: 0.8vh;
        color: white;
    }

  }