.Footer {
    background-color: rgba(204, 204, 204, 1);
    width: 100vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
  }
  

.FooterBox {
    background-color: rgba(204, 204, 204, 1);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    margin-top: 0;
  }

  .line {
    margin-top: 0;
    margin-bottom: 2vh;
    border: 0;
    width: 80vw;
    align: center;
    height: 1px;
    background: black;
  
  }
  
  .IconBox{
    display: inline;
    
  }
  
  .daegunlogo{
    width: 2.5vw;
    height: auto;
  }

  .FooterTxt {
    font-size: 0.9vw;
    display: inline;

    margin: 0;
    padding: 0;
  }

  .FooterTxt2 {
    font-size: 0.8vw;
    display: inline;
    padding-left: 5vw;
  }